{$GETCODE_PRIMARY_HOST:localhost}, {$GETCODE_PLUSPREMIUM_HOST:vnumber.pluspremium.ir} {
    encode zstd gzip

    @api path /api/*
    handle @api {
        uri strip_prefix /api
        reverse_proxy api:8080
    }

    handle {
        reverse_proxy web:3000
    }

    header {
        -Server
        X-Content-Type-Options nosniff
        Referrer-Policy strict-origin-when-cross-origin
    }
}
